.coin {
  position: absolute;
  width: 45px;
  height: 37px;
  background-image: url("https://i.ibb.co/TMSVFfys/crabby.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  visibility: visible;
  animation: blink 5s ease-out forwards;
}

.point-icon {
  background-image: url("https://i.ibb.co/BKvC5Hqb/crabby-coin.png");
  background-size: contain;
  width: 25px;
  height: 25px;
  animation: floatAndFlip 1s ease-out;
}

.life-icon {
  background-image: url("https://i.ibb.co/5XRbNs2F/heart.png");
}

.character {
  position: absolute;
  left: 80px;
  top: 80px;
  width: 65px;
  height: 60px;
  background-repeat: no-repeat;
  background-image: url("https://i.ibb.co/bMbWJQ8W/octopus.png");
  background-size: contain;
  transition: transform 0.1s ease-in-out, background-size 0.3s ease;
}
.character:hover {
  transform: scale(1.2);
  background-size: 90%;
}

.bubble {
  position: absolute;
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  pointer-events: none;
  animation: bubbleAnimation 2s ease-in-out forwards;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bubble::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  top: 25%;
  left: 25%;
}

.main__sound {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main__sound--music,
.main__sound--effect {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.main__sound--music__mute-button {
  background: url("https://i.ibb.co/qY5xBWLw/music-on.png") no-repeat center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
.main__sound--music__mute-button.muted {
  background: url("https://i.ibb.co/JWFs66Wn/music-off.png") no-repeat center;
  background-size: cover;
}

.main__sound--effect__mute-button {
  background: url("https://i.ibb.co/F1gDmGK/effect-on.png") no-repeat center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
.main__sound--effect__mute-button.muted {
  background: url("https://i.ibb.co/4wf7tpsZ/effect-off.png") no-repeat center;
  background-size: cover;
}

.main__sound--music__slider,
.main__sound--effect__slider {
  display: flex;
  align-items: center;
}

.main__sound--volume-input {
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 75%;
  margin: 0;
  padding: 0;
}
.main__sound--volume-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #330867;
  cursor: pointer;
}
.main__sound--volume-input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #330867;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  gap: 2%;
  padding: 1%;
}
.main__scoreboard {
  background-color: #330867;
  width: 20%;
  box-shadow: 0px 0px 15px white;
  font-size: 28px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
.main__scoreboard__score, .main__scoreboard__lives {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Caveat", sans-serif;
}
.main__scoreboard__score::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("https://i.ibb.co/BKvC5Hqb/crabby-coin.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.main__container {
  position: relative;
  border-radius: 10px;
  width: 55%;
  height: 80%;
  background-image: url("https://i.ibb.co/PsMXHTwd/game-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow: 0px 0px 15px white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.obstacle {
  position: absolute;
  width: 75px;
  height: 60px;
  background-image: url("https://i.ibb.co/bMhfp3x7/shark.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99;
  visibility: visible;
  animation: swimShark 6s ease-in-out infinite;
}

.broken-heart-icon {
  background-image: url("https://i.ibb.co/FRQ2Gjk/broken-heart.png");
  background-size: contain;
  width: 25px;
  height: 25px;
  animation: floatAndFlip 1s ease-out;
}

.main__sound {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main__sound--music,
.main__sound--effect {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.main__sound--music__mute-button {
  background: url("https://i.ibb.co/qY5xBWLw/music-on.png") no-repeat center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
.main__sound--music__mute-button.muted {
  background: url("https://i.ibb.co/JWFs66Wn/music-off.png") no-repeat center;
  background-size: cover;
}

.main__sound--effect__mute-button {
  background: url("https://i.ibb.co/F1gDmGK/effect-on.png") no-repeat center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
.main__sound--effect__mute-button.muted {
  background: url("https://i.ibb.co/4wf7tpsZ/effect-off.png") no-repeat center;
  background-size: cover;
}

.main__sound--music__slider,
.main__sound--effect__slider {
  display: flex;
  align-items: center;
}

.main__sound--volume-input {
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 75%;
  margin: 0;
  padding: 0;
}
.main__sound--volume-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #330867;
  cursor: pointer;
}
.main__sound--volume-input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #330867;
  cursor: pointer;
}

.collision-animation {
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
  pointer-events: none;
  animation: floatAndFlip 1s ease-out forwards;
}

.red-flash {
  animation: redFlash 0.8s ease-in-out;
}

.body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.body__heading {
  font-family: "MedievalSharp", serif;
  color: white;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.game-over h1 {
  margin: 0;
  padding: 0;
  color: #330867;
  font-family: "MedievalSharp", serif;
  font-size: 2rem;
  text-shadow: 0 2px 5px rgb(255, 255, 255);
}
.game-over p {
  margin: 5%;
  padding: 0;
  color: white;
  font-family: "MedievalSharp", serif;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
.game-over__restart-button {
  margin-top: 2%;
  font-size: 1.2rem;
  font-family: "MedievalSharp", serif;
  padding: 2.5% 5%;
  font-weight: bold;
  cursor: pointer;
  background-color: #330867;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.game-over__restart-button i {
  font-size: 1rem;
  padding-right: 0.75rem;
}
.game-over__restart-button:hover {
  background-color: #1c0438;
  transform: scale(1.05);
}
.game-over__restart-button:active {
  transform: scale(1);
}

@keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  75% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.6;
    transform: scale(0.6);
  }
}
@keyframes bubbleAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    opacity: 0.8;
    transform: scale(0.9);
  }
  40% {
    opacity: 0.6;
    transform: scale(0.8);
  }
  60% {
    opacity: 0.4;
    transform: scale(0.7);
  }
  80% {
    opacity: 0.2;
    transform: scale(0.6);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
@keyframes swimShark {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes floatAndFlip {
  0% {
    transform: translateY(0) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px) rotateY(360deg);
    opacity: 0;
  }
}
@keyframes redFlash {
  0%, 40%, 80% {
    filter: saturate(0) hue-rotate(0deg);
  }
  20%, 60%, 100% {
    filter: saturate(200) hue-rotate(250deg);
  }
}
.start-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.start-screen h1 {
  padding: 0;
  color: white;
  font-family: "MedievalSharp", serif;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
.start-screen__play-button {
  font-family: "MedievalSharp", serif;
  padding: 2.5% 5%;
  font-weight: bold;
  cursor: pointer;
  background-color: #330867;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.start-screen__play-button i {
  font-size: 1rem;
  padding-right: 0.75rem;
}
.start-screen__play-button:hover {
  background-color: #1c0438;
  transform: scale(1.05);
}
.start-screen__play-button:active {
  transform: scale(1);
}/*# sourceMappingURL=main.css.map */