body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background: linear-gradient(160deg, #1a1a50, #231f61);
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#game-container {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  border: 10px solid #055a69;
  background: linear-gradient(360deg, darkblue, blue, #0077b6, #00eafb);
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.character {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url('src/images/octopus.png');
  background-size: cover;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.4));
}

.coin {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url('src/images/crab.png');
  background-size: cover;
  border-radius: 50%;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}
