@import '../base/imagePaths';
@import '../base/variables'; // Import your SCSS variables
@import '../components/soundControl';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  gap: 2%;
  padding: 1%;

  &__scoreboard {
    font-size: $scoreboard-font-size;
    font-weight: bold;
    color: $secondary-color;

    &__score, &__lives {
      font-family: $body-font-family;
    }

    &:hover {
      color: $primary-color;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      transform: scale(1.1);
      transition: all 0.3s ease;
    }
  }

  &__container {
  position: relative;
  width: 55%;
  height: 80%;
  background-image: $gameBg-img;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3), 0 0 20px 5px $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

}
