@import '../base/imagePaths'; 

.obstacle {
  position: absolute;
  width: 100px;
  height: 80px;
  background-image: $obstacle-img;
  background-size: cover;
  z-index: 99;
  visibility: visible;
  animation: blink 5s ease-out forwards;
}
