.game {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, $background-color-top 0%, $background-color-bottom 100%);
  font-family: $body-font-family;
  overflow: hidden;
  color: $body-text-color;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}