@import "../base/variables";

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.9);
  color: $text-color;
  font-family: $body-font-family;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px $shadow-color, $glow-effect;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid $primary-color;

  & h1 {
    font-size: 3rem;
    font-family: $header-font-family;
    color: $primary-color;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
    margin-bottom: 15px;
  }

  &__restart-button {
    padding: 12px 30px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    & i {
    font-size: 1.6rem;
    padding-right: 1rem;
  }

    &:hover {
      background-color: darken($primary-color, 10%);
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1);
    }
  }
}
