$character-img: url('../../assets/img/octopus.png');
$coin-img: url('../../assets/img/crabby.png');
$obstacle-img: url('../../assets/img/shark.png');

$music-on-img: url('../../assets/img/music_on.png');
$music-off-img: url('../../assets/img/music_off.png');

$effect-on-img: url('../../assets/img/effect_on.png');
$effect-off-img: url('../../assets/img/effect_off.png');

$gameBg-img: url('../../assets/img/game_background.jpg');
