@import '../base/variables';

.collision-animation {
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
  pointer-events: none;
  animation: floatAndFlip 1s ease-out forwards;
}

.coin-icon {
  background-image: $point-img;
}

.broken-heart-icon {
  background-image: $brokentHeart-img;
}