@import '../base/variables';

.collision-animation {
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
  pointer-events: none;
  animation: floatAndFlip 1s ease-out forwards;
}

.red-flash {
  animation: redFlash 0.8s ease-in-out;
}