@import '../base/variables';

.character {
  position: absolute;
  left: 80px;
  top: 80px;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-image: $character-img;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.1s ease-in-out, background-size 0.3s ease;

  &:hover {
    transform: scale(1.1);
    background-size: 90%;
  }
}
