@import '../base/variables';

.coin {
  position: absolute;
  width: 45px;
  height: 37px;
  background-image: $coin-img;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  visibility: visible;
  animation: blink 5s ease-out forwards;
}

.point-icon {
  background-image: $point-img;
  background-size: contain;
  width: 25px;
  height: 25px;
  animation: floatAndFlip 1s ease-out;
}

.life-icon {
  background-image: $life-img;
}