@import '../base/variables';
@import './soundControl';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  gap: 2%;
  padding: 1%;

  &__scoreboard {
    background-color: $primary-color;
    width: 20%;
    box-shadow: $glow-effect;
    font-size: $scoreboard-font-size;
    color: $secondary-color;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

    &__score, &__lives {
      display: flex;
      align-items: center;
      gap: 8px;
      font-family: $body-font-family;
    }

    &__score::before {
      content: '';
      width: 24px;
      height: 24px;
      background-image: $point-img;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }

  &__container {
    position: relative;
    border-radius: 10px;
    width: 55%;
    height: 80%;
    background-image: $gameBg-img;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: $glow-effect;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} 
