@import '../base/variables';

.obstacle {
  position: absolute;
  width: 75px;
  height: 60px;
  background-image: $obstacle-img;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99;
  visibility: visible;
  animation: swimShark 6s ease-in-out infinite;
}

.broken-heart-icon {
  background-image: $brokentHeart-img;
  background-size: contain;
  width: 25px;
  height: 25px;
  animation: floatAndFlip 1s ease-out;
}