@keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }

  25% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  75% {
    opacity: 0.8;
    transform: scale(0.8);
  }

  100% {
    opacity: 0.6;
    transform: scale(0.6);
  }
}

@keyframes bubbleAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    opacity: 0.8;
    transform: scale(0.9);
  }
  40% {
    opacity: 0.6;
    transform: scale(0.8);
  }
  60% {
    opacity: 0.4;
    transform: scale(0.7);
  }
  80% {
    opacity: 0.2;
    transform: scale(0.6);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes swimShark {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatAndFlip {
  0% {
    transform: translateY(0) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px) rotateY(360deg);
    opacity: 0;
  }
}

@keyframes redFlash {
  0%, 40%, 80% {
    filter: saturate(0) hue-rotate(0deg);
  }
  20%, 60%, 100% {
    filter: saturate(200) hue-rotate(250deg);
  }
}