$primary-color: #330867;
$secondary-color: white;
$background-color-top: #30cfd0;
$background-color-bottom: #330867;
$glow-effect: 0 0 10px 3px $secondary-color;

$header-font-family: "MedievalSharp", serif;
$header-font-size: 36px;
$header-font-weight: bold;
$header-text-color: $primary-color;
$scoreboard-font-size: 28px;

$body-font-family: "Caveat", sans-serif;
$body-font-size: 16px;
$body-font-weight: normal;
$body-text-color: $secondary-color;

$button-size: 30px;
$button-font-size: 14px;
$button-bg-color: $primary-color;
$button-border-radius: 5px;

$slider-width: 10px;
$slider-height: 5px;
$slider-thumb-size: 15px;

$card-padding: 20px;
$card-border-radius: 12px;

$border-color: #ccc;
$shadow-color: rgba(0, 0, 0, 0.1);
$glow-effect: 0px 0px 10px $secondary-color;

$gameBg-img: url('https://i.ibb.co/hxzyr983/img-o-Tnf-PRIFyl0ov-SJY1nn-Lo.jpg');
$character-img: url('https://i.ibb.co/bMbWJQ8W/octopus.png');
$coin-img: url('https://i.ibb.co/TMSVFfys/crabby.png');
$obstacle-img: url('https://i.ibb.co/bMhfp3x7/shark.png');
$point-img: url('https://i.ibb.co/BKvC5Hqb/crabby-coin.png');
$brokentHeart-img: url('https://i.ibb.co/FRQ2Gjk/broken-heart.png');
$life-img: url('https://i.ibb.co/5XRbNs2F/heart.png');

$music-on-img: url('https://i.ibb.co/qY5xBWLw/music-on.png');
$music-off-img: url('https://i.ibb.co/JWFs66Wn/music-off.png');
$effect-on-img: url('https://i.ibb.co/F1gDmGK/effect-on.png');
$effect-off-img: url('https://i.ibb.co/4wf7tpsZ/effect-off.png');
